/target
/.idea
/src/web/.idea

# /src/web for node.js, ts, ... files
/src/web/node_modules/
/src/web/dist/

# in main folder (fast outputs ignores)
/*dump*.txt
/o*.txt
nohup.out

# old_codes folder
/old_codes/ml
/old_codes/_lib/
/old_codes/arch/ts/node_modules/

# deug folder
/debug/*dump*.txt
/debug/o*.txt
/debug/runtime*/
/debug/older/
